@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root {
 --dark-black: #121212;
 --light-black: #1e272c; 
 --dark-green: #1db954;
 --light-green: #1ed760;
 --gradient: linear-gradient(120DEG, #1DB954, #191414);
 --white-color: #fff;
 --mild-color: #CCC;
 --light-salmon: #c59a89;
 --medium-salmon: #e58e73;
 --light-black-bs: 20px 20px 60px #1a2125, 
             -20px -20px 60px #232d33;
}
body {
 background: var(--gradient);
 font-family: 'Open Sans', sans-serif;
 padding:0;
 margin: 0;
}



.center-wrapper {
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 auto;
 height: 75vh;
 width: 100vw;
}
.center-content {
 display: flex;
 justify-content: center;
 flex-direction: column;
 margin-top: 5%;
 padding: 15px;
 height: inherit;
 width: 30vw;
 background: var(--light-black);
 box-shadow: var(--light-black-bs);
}
.center-pic {
 margin: 10px;
 height: 45vh;
 width: 28vw;
}
#song-pic {
 height: 60px;
 width: 60px;
}
.controls-wrapper {
  
 margin: 10px;
 height: 25vh;
 width: 28vw;
}
.player-title {
 width: 100%;
 height: auto;
 padding: 5px;
 display: flex;
 justify-content: space-between;
 flex-direction: row;

}
.player-title a {
color: var(--white-color);
 font-size: 0.8em;
 text-decoration: none;
}

.controls {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 10px;
 align-items: center;
}
.controls i {
 font-size: 20px;
 margin: 5px;
 color: var(--mild-color);
 cursor: pointer;
}
.controls-center {
 display: inline-block; 
 justify-content: center;
 align-items: center;
 text-align: center;
}

i.on {
    color: var(--dark-green);
   }

.progress {
    margin: 0 auto;
    margin-top: 25px;
    width: 28vw;
    height: 5px;
    border-radius: 15px;
   }

.tracks {
    margin-top: 10px;
    height: 150px;
    overflow: scroll;
}
.track {
    display: grid;
    align-items:center;
    grid-column-gap: 5px;
    padding-bottom: 3px;
    grid-template-columns: 15px 55px 280px 15px;
    cursor: pointer;
}

.track i {
    font-size: 10px;
    color: var(--mild-color);
    cursor: pointer;
   }

.track img{
    width:40px;
    height:40px;
}

.track div {
     color: var(--white-color);
     font-size: 0.8em;
     text-decoration: none;
    }

.track:hover {
    background-color: var(--dark-green);
}

.track-playing{
    background-color: var(--dark-green);
}